<!-- about.html -->
{% extends 'base.html' %}

{% block title %}About Us - My Website{% endblock %}

{% block content %}


<style>
   /* Ensure full height and vertical centering for each section */
   .section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-fluid {
    width: 150px; 
    height: 150px;
}

.input-group {
    display: flex;
    flex-wrap: nowrap;
}
</style>
<section class="mt-4 section section-1">
        <!-- Your specific content for the About Us page here -->
        <h1>About Us</h1>
        <p>We are a team of passionate individuals dedicated to tackling journalistic bias.</p>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 border-primary shadow">
                    <div class="card-body text-center">
                        <span class="display-4 mb-2" style="color: #007bff;">🔍</span>
                        <h5 class="card-title">Semantic and Sentiment Analysis</h5>
                        <p class="card-text">We strive to provide semantical analysis and tap into a writer's psych by observing their source.</p>
                    </div>
                </div>
            </div>
    
            <!-- Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 border-success shadow">
                    <div class="card-body text-center">
                        <span class="display-4 mb-2" style="color: #28a745;">🔄</span>
                        <h5 class="card-title">Altering Perspectives</h5>
                        <p class="card-text">We embrace change of perspectives and aim to hold unprincipled journalists accountable</p>
                    </div>
                </div>
            </div>
    
            <!-- Card 3 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 border-warning shadow">
                    <div class="card-body text-center">
                        <span class="display-4 mb-2" style="color: #ffc107;">💡</span>
                        <h5 class="card-title">Informed Decision-Making</h5>
                        <p class="card-text">Our mission is to empower individuals to make informed decisions by compelling users to question their news source!</p>
                    </div>
                </div>
            </div>
        </div>
</section>

    <section class="mt-4 section">
        <h1>The Team</h1>
        <p></p>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/team/img1.jpg') }}" class="card-img-top mx-auto d-block img-fluid rounded-circle mt-3" alt="Card Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Salman Emad</h5>
                        <p class="card-text">Hacker</p>
                        <p class="card-text">Came up with project idea and created demo for website along with backend and simulation of concept we are seeking to demonstrate.</p>
                    </div>
                </div>
            </div>
    
            <!-- Card 2 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/team/img2.jpg') }}" class="card-img-top mx-auto d-block img-fluid rounded-circle mt-3" alt="Card Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Mubasher Mohammed</h5>
                        <p class="card-text">Hacker</p>
                        <p class="card-text">Helped with UI design, built chrome extension for display and has helped with acquiring assets such as images, svg etc</p>
                    </div>
                </div>
            </div>
    
            <!-- Card 3 -->
            <div class="col-md-3">
                            <div class="card">
                    <img src="{{ url_for('static', filename='images/team/img3.jpg') }}" class="card-img-top mx-auto d-block img-fluid rounded-circle mt-3" alt="Card Image 1">
                    <div class="card-body">
                        <h5 class="card-title">Hamza Al Halabi</h5>
                        <p class="card-text">Specialist</p>
                        <p class="card-text">Market research, business aspect, pitch as well as coordinating and facilitating collective effort between specialist and hacker</p>
                    </div>
                </div>
            </div>
    
            <!-- Card 4 --> 
            <div class="col-md-3">
                            <div class="card">
                    <img src="{{ url_for('static', filename='images/team/img4.jpg') }}" class="card-img-top mx-auto d-block img-fluid rounded-circle mt-3" alt="Card Image 4">
                    <div class="card-body">
                        <h5 class="card-title">Raiyan Ali</h5>
                        <p class="card-text">Specialist</p>
                        <p class="card-text">Made the presentation based on Hamza's research and enforced the guidebook as well as ensuring it is implemented.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
