<!-- about.html -->
{% extends 'base.html' %}

{% block title %}About Us - My Website{% endblock %}

{% block content %}
    <!-- Your specific content for the About Us page here -->
    <h1>About Us</h1>
    <p>We are a team of passionate individuals dedicated to tackling journalistic bias.</p>
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 border-primary shadow">
                <div class="card-body text-center">
                    <span class="display-4 mb-2" style="color: #007bff;">🔍</span>
                    <h5 class="card-title">Semantic and Sentiment Analysis</h5>
                    <p class="card-text">We strive to provide semantical analysis and tap into a writer's psych by observing their source.</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 border-success shadow">
                <div class="card-body text-center">
                    <span class="display-4 mb-2" style="color: #28a745;">🔄</span>
                    <h5 class="card-title">Altering Perspectives</h5>
                    <p class="card-text">We embrace change of perspectives and aim to hold unprincipled journalists accountable</p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 border-warning shadow">
                <div class="card-body text-center">
                    <span class="display-4 mb-2" style="color: #ffc107;">💡</span>
                    <h5 class="card-title">Informed Decision-Making</h5>
                    <p class="card-text">Our mission is to empower individuals to make informed decisions by compelling users to question their news source!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
