<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Home - Flask Hackathon{% endblock %}

{% block content %}

<style>
    .img-fluid {
        width: 150px; 
        height: 150px;
    }
</style>

<section>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our Demo Website for the Hackathon!</h1>
        <p class="lead">(hello world ?!?!)</p>
        <hr class="my-4">
        <p>Learn and create in this exciting hackathon event.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </div>
</section>
<section class="mt-4">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-3">
            <div class="card">
                <img src="{{ url_for('static', filename='images/team/img1.jpg') }}" class="card-img-top mx-auto d-block img-fluid rounded-circle mt-3" alt="Card Image 2">
                <div class="card-body">
                    <h5 class="card-title">Salman Emad</h5>
                    <p class="card-text">Hacker</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-3">
            <div class="card">
                <img src="{{ url_for('static', filename='images/team/img2.jpg') }}" class="card-img-top mx-auto d-block img-fluid rounded-circle mt-3" alt="Card Image 3">
                <div class="card-body">
                    <h5 class="card-title">Mubasher Mohammed</h5>
                    <p class="card-text">Hacker</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-3">
                        <div class="card">
                <img src="{{ url_for('static', filename='images/team/img3.jpg') }}" class="card-img-top mx-auto d-block img-fluid rounded-circle mt-3" alt="Card Image 1">
                <div class="card-body">
                    <h5 class="card-title">Hamza Al Halabi</h5>
                    <p class="card-text">Specialist</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <!-- Card 4 --> 
        <div class="col-md-3">
                        <div class="card">
                <img src="{{ url_for('static', filename='images/team/img4.jpg') }}" class="card-img-top mx-auto d-block img-fluid rounded-circle mt-3" alt="Card Image 4">
                <div class="card-body">
                    <h5 class="card-title">Raiyan Ali</h5>
                    <p class="card-text">Specialist</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
