<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Home - Flask Hackathon{% endblock %}

{% block content %}

<section>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our Demo Website for the Hackathon!</h1>
        <p class="lead">(hello world ?!?!)</p>
        <hr class="my-4">

        <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Search articles, journalists etc" aria-label="Search" aria-describedby="button-addon" />
                  <button class="btn btn-outline-secondary" type="button" id="button-addon">Go</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>

<div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="https://via.placeholder.com/300x200" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Title 1</h5>
                <p class="card-text">Author 1</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="https://via.placeholder.com/300x200" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Title 2</h5>
                <p class="card-text">Author 2</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="https://via.placeholder.com/300x200" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Title 3</h5>
                <p class="card-text">Author 3</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
